<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dipanshu Kale - Work</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/Style.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<style>
    .project-card {
        margin-bottom: 30px;
    }

    .project-content {
        padding: 20px;
    }

    .project-content h3 {
        margin-bottom: 15px;
    }
</style>

<body>

    <section class="content-section py-5 page-perfect mb-5" data-aos="fade-up">
        <div class="container mt-4 mb-4">
            <h2 class="text-center mb-4">My Work</h2>
            <p class="text-center mb-5">Here are some of the projectsI've worked on </p>
            <div class="row project-card" data-aos="fade-right">
                <div class="col-md-6 order-md-1">
                    <div class="project-content">
                        <h3>Holiday Tour Website</h3>
                        <p>Developed a platform where travelers can share their experiences and tour details, helping
                            others plan their trips with
                            real feedback and memories.</p>
                        <p><a href="https://holiday-tour-ceyj.onrender.com/listings" target="_blank">Visit here</a></p>
                    </div>
                </div>
                <div class="col-md-6 order-md-2">
                    <img src="/images/Tour.jpg" alt="Holiday Tour Website" class="img-fluid">
                </div>
            </div>

            <div class="row project-card" data-aos="fade-right">
                <div class="col-md-6 order-md-2">
                    <div class="project-content">
                        <h3>Doctor's Appointment Website</h3>
                        <p>Created an appointment scheduling system for patients to book consultations with doctors
                            based on their medical needs..</p>
                        <p>Will be deployed soon</p>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="/images/Doctor.jpg" alt="Doctor's Appointment Website" class="img-fluid">
                </div>
            </div>

            <div class="row project-card" data-aos="fade-right">
                <div class="col-md-6 order-md-1">
                    <div class="project-content">
                        <h3>Donate Items to NGOs</h3>
                        <p>Designed a platform to facilitate donations of clothes and other items to NGOs. The site
                            features a user-friendly
                            interface with secure data storage and verification processes. Currently, the UI is
                            complete, and final development is
                            underway to ensure a seamless donation experience.</p>
                    </div>
                </div>
                <div class="col-md-6 order-md-2">
                    <img src="/images/Donate-items.jpg" alt="Holiday Tour Website" class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <section class="content-section py-5" data-aos="fade-up">
        <div class="container">
            <h2 class="text-center mb-4">Daily LeetCode Problem Solving</h2>
            <p class="text-center">I work with Java for problem-solving & Every day, I solve problems on LeetCode to
                enhance my problem-solving skills and
                algorithmic knowledge. This daily practice helps me stay sharp and continuously improve my coding
                abilities. You can visit my LeetCode profile <a href="https://leetcode.com/u/Dipanshu_kale/"
                    target="_blank">here</a>.</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/Animation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>